services:
  postgres_db:
    container_name: postgres_db
    image: postgres:17.4-alpine
    volumes:
      - db_data:/var/lib/postgresql/data
      - shared_data:/var/shared
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=test_pass
      - POSTGRES_DB=blackbook_development
    networks:
      - blackbook_network
    ports:
      - 5434:5432
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  blackbook:
    container_name: blackbook
    build:
      context: .
      dockerfile: ./Dockerfile-Dev
    depends_on:
      postgres_db:
        condition: service_healthy
    environment:
      - NODE_ENV=development
      - RAILS_ENV=development
      - DATABASE_HOST=postgres_db
      - DATABASE_PORT=5432
      - DATABASE_NAME=blackbook_development
      - DATABASE_USERNAME=postgres
      - DATABASE_PASSWORD=test_pass
    volumes:
      - .:/app
      - shared_data:/var/shared
      - ./storage:/app/storage
    networks:
      - blackbook_network
    tty: true
    stdin_open: true
    ports:
      - 3001:3000
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/up"]
      interval: 30s
      timeout: 3s
      retries: 3
      start_period: 60s

networks:
  blackbook_network:

volumes:
  db_data:
  shared_data:
