<% if resource.errors.any? %>
  <div class="bb-alert bb-alert-error" role="alert">
    <ul class="list-disc pl-5">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
