.character-relationships-table {

  table {
    text-align: center;
    vertical-align: middle;

    select {
      margin: 0 !important;
    }

    tr.empty-row {
      td {
        padding: .5em;
        text-align: center;
      }
    }
  }

}
