@import '../palette.scss';

.characters-show {
  .pagination {
    justify-content: center;

    & > * {
      margin: 0 .5em;
    }
  }

  ul {
    margin: 1em;

    li {
      text-align: center;
    }
  }
}
