.images-edit-view {

  .character-select {
    h3 {
      text-align: left;
    }

    ul {
      margin-bottom: 1em;

      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    form {
      margin-bottom: 1em;
      overflow: hidden;

      input[type=submit] {
        float: right;
        clear: both;
      }
    }

    .delete-button {
      float: right;
      clear: both;
    }
  }

}
