.images-edit-view {

  .character-select {
    h3 {
      text-align: left;
    }

    ul {
      margin-bottom: 1em;

      li {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
          color: black;
        }
      }
    }

    form {
      margin-bottom: 1em;
      overflow: hidden;
    }
  }

  .image-column {
    text-align: center;

    img {
      margin-bottom: 1em;
    }
  }

}
