<footer>
  <div class="grid-x grid-padding-x">
    <div class="small-12 cell">
      Owner: <%= owner.display_name %>
      <br />
      <% unless collaborators.empty? %>
      Collaborators:
        <% collaborators.each_with_index do | collaborator, index | %>
          <% if index == collaborators.length-1 %>
            <%= collaborator.display_name %>
          <% else %>
            <%= collaborator.display_name %>,
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</footer>
