<div class="card">
  <% if show_avatar %>
    <% unless avatar.nil? %>
      <%= image_tag(avatar.image_file.variant(resize_to_limit: [350, nil]), class: "card-img-top") %>
    <% else %>
      <%= image_tag "card_placeholder.png", class: "card-img-top" %>
    <% end %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= name %></h5>
  </div>
</div>
