<% flash.each do |type, message| %>
  <% variant =
    case type.to_s
    when "notice" then "bb-alert-info"
    when "success" then "bb-alert-success"
    when "alert", "error" then "bb-alert-error"
    else "bb-alert-neutral"
    end
  %>
  <div class="bb-alert mt-3 pointer-events-auto <%= variant %>">
    <%= message %>
  </div>
<% end %>
