<div class="image-form">
  <h4>Add New Image</h4>

  <%= form_with model: Image.new(universe_id: universe.id), url: universe_images_url(universe), method: "post" do | form | %>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="medium-4 medium-offset-2 cell">
          <%= form.file_field :image_file, required: true %>
        </div>
        <div class="medium-3 medium-offset-1 cell">
          <%= form.submit "Add", class: "button" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
