<div class="image-form">
  <%= form_with model: Image.new(universe_id: universe.id), url: universe_images_url(universe), method: "post" do | form | %>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <%= link_to "New Character", new_universe_character_url(@universe), class: "button" %>
      </div>
      <div class="medium-6 cell">
        <div class="grid-x grid-padding-x">
          <div class="medium-6 cell">
            <%= form.file_field :image_file, required: true %>
          </div>
          <div class="medium-6 cell">
            <%= form.submit "New Image", class: "button" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
