<table class="table is-fullwidth is-striped has-text-centered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Owner</th>
      <th>Collaborators</th>
    </tr>
  </thead>
  <tbody>
    <% universes.each do | u | %>
      <tr>
        <td><%= link_to u.name, universe_path(u), class: "button" %></td>
        <td><%= u.owner.display_name %></td>
        <td>
          <% unless u.collaborators.empty? %>
            <% u.collaborators.each_with_index do | collaborator, index | %>
              <% if index == u.collaborators.length-1 %>
                <%= collaborator.display_name %>
              <% else %>
                <%= collaborator.display_name %>,
              <% end %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
