.universe-show {
  header, img, .cards {
    margin-bottom: 1em;
  }

  header {
    text-align: center;
  }

  .file-form {
    margin-bottom: 1em;
  }

  .image {
    text-align: center;
  }

  .pagination {
    justify-content: center;

    & > * {
      margin: 0 .5em;
    }
  }
}
