.character-image-list {

  img {
    margin-bottom: 1em;
  }

  .character-image-column {
    text-align: center;
  }

  .pagination {
    justify-content: center;

    & > * {
      margin: 0 .5em;
    }
  }

}
