<section id="#{id}" class="card-list cards">
  <div class="row">
    <div class="col-md-12">
      <div class="row card-row align-items-start">
        <% if collection.empty? %>
          <%= render partial: "shared/empty_banner", locals: {
            message: "There are no #{name.downcase} yet, create some!"
          } %>
        <% else %>
          <% collection.sort_by{ |e| e.name.downcase }.each do | item | %>
            <div class="col-md-3">
              <%= link_to render(:partial => "shared/card", locals: { name: item.name, avatar: image_helper.call(item.try(:images)), show_avatar: show_avatar }), collection_url.call(item) %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="text-end">
        <%= link_to new_url do %>
          <button class="btn btn-primary">New <%= name %></button>
        <% end %>
      </div>
    </div>
  </div>
  <hr />
</section>
