  <div class="col-md-4">
    <table class="table table-dark table-striped table-hover">
      <thead>
        <tr>
          <th scope="col"><%= label %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            You have no <%= label.downcase %> yet.
          </td>
        </tr>
      </tbody>
    </table>
  </div>
