<section class="universes-index-view">

    <div class="buttongroup">
      <%= render partial: "shared/universe_table", locals: {
        universes: @universes.sort_by {|u| u.name }
      } %>
    </div>

</section>
