<section class="universes-index-view">

  <%= render partial: "universes/card_list", locals: {
    collection: @universes,
    collection_url: ->(x) { universe_url(x) },
    image_helper: ->(x) { get_universe_avatar_image(x) },
    new_url: new_universe_url(@universe),
    name: "Universe",
    show_avatar: true
  } %>

</section>
