<section class="universes-index-view">

    <div class="grid-x grid-padding-x">
      <% @universes.each do | universe | %>
        <div class="medium-3 cell">
          <%= link_to universe.name, universe_path(universe), class: "button secondary large" %>
        </div>
      <% end %>
    </div>

</section>
