<section class="universes-index-view">

    <div class="buttongroup">
      <% @universes.each do | universe | %>
          <%= link_to universe.name, universe_path(universe), class: "button secondary large" %>
      <% end %>
    </div>

</section>
