<section id="universes-index-view" class="section">

  <div class="container">

      <% @universes.each do | u | %>
          <%= link_to universe_path(u), class: "box has-text-centered-mobile" do %>
              <%= u.name %>
          <% end %>
      <% end %>

  </div>

</section>
