<section class="universe-index">
  <div class="row">
    <% @universes.each do | universe | %>
      <div class="col-md-3">
        <%= link_to render(:partial => 'shared/card', locals: { name: universe.name, avatar: nil }), universe_url(universe) %>
      </div>
    <% end %>
  </div>
</section>
