<section class="universes-show-view">

  <header>
    <h1><%= @universe.name %></h1>
  </header>

  <% render partial: "shared/capture_navbar" %>

  <div class="grid-x grid-padding-x">
    <div class="small-12 cell">
      <%= render partial: "shared/universe_controls", locals: {
        universe: @universe
      } %>
    </div>
    <div class="medium-4 cell">
      <div class="buttongroup">
        <% @universe.characters.sort_by {|c| c.name }.each do | character | %>
          <%= link_to character.name, character_path(character), class: "button secondary large" %>
        <% end %>
      </div>
    </div>
    <div class="medium-8 cell">
      <%= render partial: "shared/image_list", locals: {
        images: @images,
        universe: @universe
      } %>
    </div>
  </div>

</section>
