<section class="universes-show-view">

  <header>
    <h1><%= @universe.name %></h1>
  </header>

  <% render partial: "shared/capture_navbar" %>

  <div class="grid-x grid-padding-x">
    <div class="small-12 cell">
      <%= render partial: "shared/universe_controls", locals: {
        universe: @universe
      } %>
    </div>
    <div class="medium-4 cell">
      <%= render partial: "shared/character_table", locals: {
        characters: @universe.characters.sort_by {|c| c.name }
      } %>
    </div>
    <div class="medium-8 cell">
      <%= render partial: "shared/image_list", locals: {
        images: @images,
        universe: @universe
      } %>
    </div>
  </div>

</section>
