<section class="universes-show-view">

  <header>
    <h1><%= @universe.name %></h1>
    <h6>
      <a href="#character-list">Characters</a> &middot;
      <a href="#image-list">Images</a>
    </h6>
  </header>

  <% render partial: "shared/capture_navbar" %>

  <ul>
  <% @universe.characters.each do | character | %>
    <li>
      <%= link_to character.name, character_path(character) %>
    </li>
  <% end %>
  </ul>

  <%= render partial: "universes/image_list", locals: {
    images: @images,
    universe: @universe
  } %>

  <%= render partial: "shared/app_footer", locals: {
    owner: @universe.owner,
    collaborators: @universe.collaborators
  } %>

</section>
