<section class="universes-show-view">

  <header>
    <h1><%= @universe.name %></h1>
    <h6>
      <a href="#character-list">Characters</a> &middot;
      <a href="#image-list">Images</a>
    </h6>
  </header>

  <% render partial: "shared/capture_navbar" %>

  <%= render partial: "universes/card_list", locals: {
    collection: @universe.characters,
    collection_url: ->(x) { character_url(x) },
    identifier: "character-list",
    image_helper: ->(x) { get_character_avatar_image(x) },
    new_url: new_universe_character_url(@universe),
    name: "Character",
    show_avatar: true
  } %>

  <%= render partial: "universes/image_list", locals: {
    images: @images,
    universe: @universe
  } %>

  <%= render partial: "shared/app_footer", locals: {
    owner: @universe.owner,
    collaborators: @universe.collaborators
  } %>

</section>
