@import "bulma";
@import "font-awesome";

// Universe
@import "../../views/universes/index-view";

// Character
@import "../../views/characters/edit";
@import "../../views/characters/new";

// User
@import "../../views/devise/registrations/new";
@import "../../views/devise/sessions/new";

// Shared
@import "../../views/shared/image_list";

// Global
html, body {
  box-sizing: border-box;
  min-width: 375px;
  background-color: $light;
}

*, *:before, *:after {
  box-sizing: inherit;
}
