.image-edit {
  .character-select {
    text-align: center;

    h3 {
      text-align: left;
    }

    ul {
      margin-bottom: 1em;

      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    form {
      margin-bottom: 1em;
    }
  }
}
