<section class="locations-show-view">

  <h1><%= @location.name %></h1>
  <p><%= @location.content %></p>

  <% render partial: "shared/capture_navbar" %>

  <%= render partial: "shared/app_footer", locals: {
    owner: @location.universe.owner,
    collaborators: @location.universe.collaborators
  } %>

</section>
