name: CI/CD Pipeline

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

permissions:
  contents: read

concurrency:
  group: blackbook-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  quality-check:
    name: Quality Checks
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:12.5-alpine
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: test_pass
          POSTGRES_DB: blackbook_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U postgres"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    env:
      RAILS_ENV: test
      DATABASE_HOST: 127.0.0.1
      DATABASE_PORT: 5432
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: test_pass

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libpq-dev libvips

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.2.1"
          bundler-cache: true

      - name: Run RuboCop
        run: bundle exec rubocop

      - name: Prepare test database
        run: bundle exec rails db:prepare

      - name: Run tests
        run: bundle exec rspec

  deploy:
    name: Build & Deploy
    runs-on: ubuntu-latest
    needs: quality-check
    if: github.ref == 'refs/heads/master' && github.event_name == 'push'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: devleo/blackbook:latest

          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Image Digest
        run: echo ${{ steps.docker_build.outputs.digest }}
